/*个人常用样式配置*/
.fl-bbs{float:left; display:inline;}
.fr-bbs{float:right; display:inline;}
.fb{font-weight:bold;}
.fb14{font-weight:bold; font-size:14px;}
.fn{font-weight:normal;}
.fn14{font-size:14px;}
.row-area{ clear:both;}

ul.ellipsis{}
ul.ellipsis li, span.ellipsis, .ellipsis {/*width:200px;*/ white-space:nowrap;	text-overflow:ellipsis;	-o-text-overflow:ellipsis; overflow: hidden; word-break:keep-all; white-space:nowrap;}
.nowrap{white-space:nowrap; word-break:keep-all; white-space:nowrap;}
.h01,.h02,.h03,.h04,.h05,.h06,.h07,.h08,.h09,.h10{clear:both; overflow:hidden;}	
.h01{height:1px;}
.h02{height:2px;}
.h03{height:3px;}
.h04{height:4px;}
.h05{height:5px;}
.h06{height:6px;}
.h07{height:7px;}
.h08{height:8px;}
.h09{height:9px;}
.h10{height:10px;}
br.clear {clear:both; height:0;	line-height:0; margin:0; padding:0; border:0; overflow:hidden; font-size:0px; background:#1c1c1c;}
.clearfix_2:after {	content:"."; display:block;	height:0; clear:both; visibility:hidden;}
.clearfix_2 {display:inline-block;}
.clearfix_2 {display:block;}
.clearfix_3{overflow:auto; zoom:1;/* IE6 */} 
p.CN{text-indent:2em;}
/*
	图片列表通用规格底层 temp-pic 图片尺寸：120x90  160x120  200x150 
*/
.tp-050-050 img{width:50px; height:50px;}
.tp-060-060 img{width:60px; height:60px;}
.tp-070-070 img{width:70px; height:70px;}
.tp-080-060 img{width:80px; height:60px;}
.tp-080-080 img{width:80px; height:80px;}
.tp-090-090 img{width:90px; height:90px;}
.tp-100-100 img{width:100px; height:100px;}
.tp-110-110 img{width:110px; height:110px;}
.tp-120-090 img{width:120px; height:90px;}
.tp-120-120 img{width:120px; height:120px;}
.tp-125-085 img{width:125px; height:85px;}
.tp-130-100 img{width:130px; height:100px;}
.tp-130-130 img{width:130px; height:130px;}
.tp-140-140 img{width:140px; height:140px;}
.tp-150-150 img{width:150px; height:150px;}
.tp-160-120 img{width:160px; height:120px;}
.tp-160-160 img{width:160px; height:160px;}
.tp-170-170 img{width:170px; height:170px;}
.tp-180-045 img{width:180px; height:45px;}
.tp-180-180 img{width:180px; height:180px;}
.tp-190-190 img{width:190px; height:190px;}
.tp-200-150 img{width:200px; height:150px;}
.tp-200-200 img{width:200px; height:200px;}
.tp-240-190 img{width:240px; height:190px;}
.tp-240-330 img{width:240px; height:330px;}


/*
	图片列表通用规格底层 temp-title 文本规格：字号 行高
*/
.tt-12-18{font-size:12px; line-height:18px;}
.tt-12-19{font-size:12px; line-height:19px;}
.tt-12-20{font-size:12px; line-height:20px;}
.tt-12-21{font-size:12px; line-height:21px;}
.tt-12-22{font-size:12px; line-height:22px;}
.tt-12-23{font-size:12px; line-height:23px;}
.tt-12-24{font-size:12px; line-height:24px;}
.tt-12-25{font-size:12px; line-height:25px;}

.tt-14-18{font-size:14px; line-height:18px;}
.tt-14-19{font-size:14px; line-height:19px;}
.tt-14-20{font-size:14px; line-height:20px;}
.tt-14-21{font-size:14px; line-height:21px;}
.tt-14-22{font-size:14px; line-height:22px;}
.tt-14-23{font-size:14px; line-height:23px;}
.tt-14-24{font-size:14px; line-height:24px;}
.tt-14-25{font-size:14px; line-height:25px;}

/****通用模板样式****/
.mod-ul li{float:left; display:inline;}


/**
<div class="mod">
	<div class="hd">
		<h2 class="title">标题</h2>
		<span class="entry"><a href="#" target="_blank">更多&gt;&gt;</a></span>
	</div>
	<!--end .hd-->
	<div class="bd">
		内容
	</div><!--end .bd-->
</div><!--end .mod-->


<div class="mod-screen">
	<div class="ms-hd">
		<h2 class="ms-title">标题</h2>
		<span class="ms-entry"><a href="#" target="_blank">更多&gt;&gt;</a></span>
	</div>
	<!--end .ms-hd-->
	<div class="ms-bd">
		内容
	</div><!--end .ms-bd-->
</div><!--end .mod-screen-->
*/

.mod,.mod-screen{}
.mod .hd,.mod-screen .ms-hd{clear:both; /*height:22px; line-height:22px; overflow:hidden; background:url(../images/theme-hd.jpg) 0px 0px no-repeat;*/}
.mod .hd .title,.mod-screen .ms-hd .ms-title{ float:left; display:inline; /*font-size:14px; font-weight:bold; color:#000; padding-left:10px; background:url(../images/point.gif) 0px 0px no-repeat;*/}
.mod .hd .entry,.mod-screen .ms-hd .ms-entry{ float:right; display:inline;}
.mod .bd,.mod-screen .ms-bd{}
.mod .panes,.mod-screen .ms-panes{}

/**
<ul class="mod-tab">
	<li><a href="javascript:void(0);">职业视频</a></li>
	<li><a href="javascript:void(0);">副本视频</a></li>
</ul>
*/


.mod-tab{}
.mod-tab li{float:left; display:inline;}
.mod-tab li a{text-align:center;}
.mod-tab li a:hover{}
.mod-tab li a.current{}

.mod-news:after,.mod-pic:after,.mod-img-txt:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.mod-news,.mod-pic,.mod-img-txt {display:inline-block;}  
.mod-news,.mod-pic,.mod-img-txt {display:block;}

/*===============新闻列表底层==================*/



/**   
    <ul class="mod-news tt-12-22 xxx-list">
        <li><span class="time">[05-04] </span><a href="#" target="_blank" title="">新闻标题内容我很长哦</a></li>
    </ul> 
*/
.mod-news{}
.mod-news li{}
.mod-news li a{}
.mod-news li .time{float:right; display:inline;}



/*===============图片列表底层==================*/


/**
    <ul class="mod-pic tp-120-090 tt-12-22 xxx-list">
        <li><a href="#" target="_blank"><div class="shade"></div><img src="images/img_120_90.jpg" alt=""><p class="title">标题</p></a></li>
    </ul> 
*/
.mod-pic{clear:both;}
.mod-pic li{float:left; display:inline;}
.mod-pic li a{position:relative; text-decoration:none; /*display:block;*/}
.mod-pic li img{display:block;}
.mod-pic li .title{}
.mod-pic li .shade{position:absolute; display:block; cursor:pointer; z-index:2;}/*遮罩层 或 小图标*/





/*标题行数不确定时使用
    <ul class="mod-pic-table tp-120-090 tt-12-22 xxx-list">
        <li><a href="#" target="_blank"><div class="shade"></div><img src="images/img_120_90.jpg"><p class="title">标题</p></a></li>
    </ul> 
*/
.mod-pic-table{font-size:0; letter-spacing:-3px;}
.mod-pic-table li{display:inline-block; *display:inline; letter-spacing:0; vertical-align:top; *zoom:1; font-size:12px;}
.mod-pic-table li a{position:relative;}
.mod-pic-table li img{display:block; vertical-align:bottom;}
.mod-pic-table li .title{display:block; text-align:center; }/*标题*/
.mod-pic-table li a:hover .title{text-decoration:underline;}
.mod-pic-table li .shade{position:absolute; display:block; cursor:pointer; z-index:2;}/*遮罩层 或 小图标*/

/*
    <ul class="mod-pic-01 tp-120-090  tt-12-22 xxx-list">
        <li><a href="#" target="_blank"><div class="shade"></div><div class="title-bg"></div><img src="images/img_120_90.jpg"><p class="title">标题</p></a></li>
    </ul> 
*/
.mod-pic-01{clear:both;}
.mod-pic-01 li{float:left; display:inline; zoom:1;}
.mod-pic-01 li a{position:relative; display:block;}
.mod-pic-01 li img{display:block;}
.mod-pic-01 li .shade{position:absolute; display:block; cursor:pointer; z-index:2;}/*遮罩层 或 小图标*/
.mod-pic-01 li .title{display:block; left:0px; bottom:0px; color:#fff; z-index:3; position:absolute;}/*半透明底上 标题*/
.mod-pic-01 li .title-bg{left:0px; bottom:0px; display:block; background:#000; filter:alpha(opacity=60);  -moz-opacity: 0.6;  opacity: 0.6; z-index:2; position:absolute;}/*半透明底 */




/*图文模板*/
/*
	<div class="mod-img-txt">
		
		<div class="img-area tp-120-090">
			<a href="#" target="_blank"><img src="images/img_120_90.jpg"></a>
		</div>
		<div class="txt-area tt-12-22">
			<p class="title">标题</p>
			<p>描述内容概要<a href="#" target="_blank">详细描述</a></p>
		</div>

	</div><!--end .mod-img-txt-->     
*/


.mod-img-txt{}
.mod-img-txt .img-area{/* width:100px;*/ float:left; display:inline;}
.mod-img-txt .img-area img{}
.mod-img-txt .txt-area{/* width:500px;*/ float:right; display:inline;}
.mod-img-txt .txt-area .title{}
.mod-img-txt .txt-area a{}


/*
	<div class="mod-img-txt-01">
		
		<div class="img-area tp-120-090">
			<a href="#" target="_blank"><img src="images/img_120_90.jpg"></a>
		</div>
		<div class="txt-area tt-12-22">
			<p class="title">标题</p>
			<p>描述内容概要<a href="#" target="_blank">详细描述</a></p>
		</div>

	</div><!--end .mod-img-txt-01-->     
*/


.mod-img-txt-01{}
.mod-img-txt-01 .img-area{float:left; display:inline; width:auto;}
.mod-img-txt-01 .img-area img{vertical-align:bottom;}
.mod-img-txt-01 .txt-area{/*height:auto !important; height:100px; min-height:100px;*/ }
.mod-img-txt-01 .txt-area .title{ }
.mod-img-txt-01 .txt-area a{}

/*
	<div class="mod-img-txt-02">
		
		<div class="img-area tp-120-090">
			<a href="#" target="_blank"><img src="images/img_120_90.jpg"></a>
		</div>
		<div class="txt-area tt-12-22">
			<p class="title">标题</p>
			<p>描述内容概要<a href="#" target="_blank">详细描述</a></p>
		</div>

	</div><!--end .mod-img-txt-02-->     
*/

.mod-img-txt-02{ /*padding-left:130px;*/ position:relative;}
.mod-img-txt-02 .img-area{/* margin-left:-130px;*/ position:absolute;}
.mod-img-txt-02 .img-area img{}
.mod-img-txt-02 .txt-area{ }
.mod-img-txt-02 .txt-area .title{}
.mod-img-txt-02 .txt-area a{}



/*js标签 不写任何样式*/
.png{}
.js-odd{}
.js-even{}
.js-tab{}
.js-tab-click{}
.js-hover{}