/* CSS Document */
body{
	font-size:9pt;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/bg_game.png);
	background-size:100%;
	background-repeat:no-repeat;
}
div{
	margin:0;
	padding:0;
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.message_box{
	background-image:url(../images/notice.png);
	width:220px;
	height:120px;
	background-size:100%;
	background-repeat:no-repeat;
	padding:3px 2px 2px 22px;	
	font-size:14px;
	overflow:hidden;
}
.moved{
	background:url(../images/moved.gif);
}
.style1{
	color: #FEDB05;
}
.message_btn{
	padding:2px 2px 2px 2px;
	border:1px solid #5A7110;
	background:#CCFF05 no-repeat;	
	color:#000000;
	FONT-SIZE:12px;
	height:22px;
}
.style4 {color:#CC0000}
.message{
	width:220px;
	background-image:url(../images/message.png);
	height:180px;
	background-size:100%;
	background-repeat:no-repeat;
	display:block;
}
.message_td{
padding-left:15px;}
.message_chat{
width:190px;
height:90px;
color:#506E26;
font-size:14px;
overflow:auto;
}
.imgDiv{
border:1px solid #FF0000;
position:absolute;
top:20%;
right:30%;
bottom:30%;
left:30%;
z-index:10;
}
.roomcode{
position:absolute;
top:103px;
left:40px;
font-family:"楷体";
font-size:24px;
}